<form  #f="ngForm">
    <div class="user-wrapper">
      <div class="label">FirstName</div> <input type="text" id= "userId" placeholder="First Name" required minlength="1" name="firstName" [(ngModel)]="firstName" value={{model}}  #lol = "ngModel">
        <div [hidden]="lol.valid" class="alert">This is required</div>
          <div class="label">LastName</div> <input type="text" placeholder="Last Name" required minlength="1" name ="lastName" #last = "ngModel" name="lastName" [(ngModel)]="lastName" value={{lastName}}/>
            <div [hidden]="last.valid" class="alert alert-danger">This is required</div>
             <div class="label">Email</div> 
             <input type="email" placeholder="Email"  ngModel email="true" required minlength="1" name="userEmail" #mail = "ngModel" name="userEmail" [(ngModel)]="userEmail" value={{userEmail}}/>
              <div [hidden]="mail.valid" class="alert alert-danger">Invalid Email</div>
                <div class="label">Country</div>
                  <div class="dropdown">
                    <select [(ngModel)]="country" #name="ngModel" name ="dropdown" required>
                      <option *ngFor="let c of countries" value="{{c}}">{{c}}</option>
                    </select>
                    <div [hidden]="name.valid" class="alert">Choose country</div>
                  </div>
          <button type="button"  [disabled]="!f.form.valid" class="btn btn-primary" (click)="addUser()" routerLink="/display">
            Save
          </button>
    </div>
</form>
